<li class="list-group-item mx-auto w-100">
  <figure>
    <div class="d-flex justify-content-end align-items-center">
      <!-- Check if the user id on review equals the user id from res.locals.user -->
      <% if (user && review.user.equals(user._id)) { %>


      <button type="button" class="btn btn-link text-warning" data-bs-toggle="modal" data-bs-target="#editReviewModal<%= review._id  %>"><i class="bi bi-pencil"></i></button>

      <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
        <button type="submit" class="ms-2 btn btn-link text-danger"><i class="bi bi-trash"></i></button>
      </form>
      <% } %>

    </div>
    <blockquote class="blockquote" id="blockquote">
      <p class="lead">
        <%= review.title %>
      </p>
      <%= review.comment %>
    </blockquote>
    <figcaption class="blockquote-footer pt-1 ps-3">
      <%= review.name %>, <%= new Date(review.createdAt).toLocaleDateString() %>
    </figcaption>
  </figure>
</li>
<%- include('../partials/editReviewModal.ejs', {review}) %>