<a href='/products/<%= product._id %>' class='card m-2 text-decoration-none card-hover' style='width: 18rem;'>
  <img src="<%= product.image.url %>" class='card-img-top' alt='<%= product.image.alt %> ' />
  <div class='card-body d-flex flex-column justify-content-between shadow-sm'>
    <div>
      <h5 class='card-title'><%= product.name %> </h5>
      <h6 class="card-subtitle mb-2 text-muted">$<%= product.price %> </h6>
    </div>
  </div>
</a>