<%- include('../layout/header', {title:'Order Placed', page:'order'}) %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/user">User</a></li>
    <li class="breadcrumb-item active" aria-current="page">Order #<%= order.orderNumber %> </div>
    </li>
  </ol>
</nav>

<div class="row">
  <% if (isUserRoute) { %>
  <p class="lead">Order Number <%= order.orderNumber %></p>
  <% } else { %>
  <h1>Thank you for your order!</h1>
  <p class="lead">Order Number <%= order.orderNumber %>. — We are preparing your order now. </p>
  <p>You will receive an email with your tracking information shortly.</p>
  <br>
  <p class="mb-5">Please see a review of your order below.</p>
  <% } %>
</div>
<div class="row">
  <ul class="list-group mb-5" id="cartList">
    <% order.products.forEach(product => { %>
    <%- include('../partials/checkoutProduct.ejs', {cartItem:product}) %>
    <% }) %>
  </ul>
</div>
<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <div class="d-flex flex-column mt-3 align-items-end">
      <p class="d-flex justify-content-between w-100"><strong class="text-bold">Subtotal:</strong> <span>$ <%= total.toFixed(2) %></span> </p>
      <p class="d-flex justify-content-between w-100"><strong>Shipping:</strong> <span>$4.99</span></p>
      <p class="d-flex justify-content-between w-100"><strong>Total:</strong> <span>$<%= (total+5.99).toFixed(2) %></span></p>
    </div>
  </div>
</div>
<%- include('../layout/footer') %>