<%- include('../layout/header', {title:'Cart'}) %>

<h1 class="mb-3">Cart</h1>
<% if (!cart) { %>
<p class="lead">Nothing's in your cart... maybe you should go buy some stuff?
</p>
<a href="/products">View Products</a>

<% } %>

<% if (cart) { %>
<% for( let key in cart.products ) { %>
<%- include('../partials/cartProduct.ejs',{cartItem:cart.products[key], cartId:cart._id}),   %>
<% } %>
<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <div class="d-flex flex-column mt-3 align-items-end">
      <p class="d-flex justify-content-between w-100"><strong class="text-bold">Subtotal:</strong> <span>$ <%= total.toFixed(2) %></span> </p>
      <p class="d-flex justify-content-between w-100"><strong>Shipping:</strong> <span>$4.99</span></p>
      <p class="d-flex justify-content-between w-100"><strong>Total:</strong> <span>$<%= (total+5.99).toFixed(2) %></span></p>
      <a href="/checkout" class="btn btn-dark w-100 mt-3">Checkout</a>
    </div>
  </div>
</div>
<% } %>

<%- include('../layout/footer') %>