<%- include('../layout/header', {title:'Cart'}) %>

<h1 class="mb-3">Cart</h1>
<% for( let key in cart ) { %>
<div class="row border rounded mb-1 p-2">
  <div class="col-md-2">
    <img src="<%= cart[key].image.url %>" alt="<%= cart[key].image.alt %>" class="img-fluid rounded">
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-6 d-flex flex-column justify-content-around">
    <div class="d-flex">
      <h5><%= cart[key].name %> </h5>
      <p class="lead ms-auto">$<%= cart[key].price %> </p>
    </div>
    <div class="ms-auto">
      update form here
    </div>
  </div>
</div>
<% } %>
<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <div class="d-flex flex-column mt-3 align-items-end">
      <p class="d-flex justify-content-between w-100"><strong class="text-bold">Subtotal:</strong> <span>$ <%= total %></span> </p>
      <p class="d-flex justify-content-between w-100"><strong>Shipping:</strong> <span>$5.99</span></p>
      <p class="d-flex justify-content-between w-100"><strong>Total:</strong> <span>$<%= (total+5.99).toFixed(2) %></span></p>
      <a href="/cart/checkout" class="btn btn-dark w-100 mt-3">Checkout</a>
    </div>
  </div>
</div>


<%- include('../layout/footer') %>