<%- include('../layout/header', {title:product.name}) %>
<a href="/products" class="btn btn-outline-secondary mb-2"><i class="bi bi-arrow-left"></i>All Products</a>

<div class="row mt-3 mb-5">
  <div class="col-sm-12 col-md-7 col-lg-4">
    <img src="<%= product.image.url %> " alt="<%= product.image.alt %> " class="img-fluid rounded">
  </div>
  <div class="col-sm-12 col-md-5 col-lg-8 mt-5 mt-md-0 p-md-5">
    <h1 class="display-5"><%= product.name %></h1>
    <p class="lead">$<%= product.price %> </p>
    <p><%= product.description %> </p>
    <form action="/cart" method="POST">
      <input type=" text" value="<%= product._id %>" hidden name="productId">
      <button class="btn btn-primary w-100" id="add-to-cart" type="submit">Add To Cart</button>
    </form>
  </div>
</div>
<div class="row align-items-center">
  <div class="col-md-3">
    <h3 class="my-3">Reviews</h3>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-3">
    <% if (user) { %>
    <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#addReviewModal">
      Add Review
    </button>
    <% } %>
  </div>
</div>
<div class="row">
  <ul class=" list-group list-group-flush">
    <% product.reviews.forEach(review => { %>
    <%- include('../partials/review.ejs', {review}) %>
    <% }) %>
  </ul>
</div>
<!-- Add review form modal below -->
<%- include('../partials/newReviewModal', {product}) %>

<%- include('../layout/footer') %>